@font-face {
  font-family: "iconfont"; /* Project id 2722994 */
  src: url('//at.alicdn.com/t/font_2722994_jo3he0mn3y.woff2?t=1628997799185') format('woff2'),
       url('//at.alicdn.com/t/font_2722994_jo3he0mn3y.woff?t=1628997799185') format('woff'),
       url('//at.alicdn.com/t/font_2722994_jo3he0mn3y.ttf?t=1628997799185') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e63a";
}

.icon-uncheck:before {
  content: "\e667";
}

.icon-cart:before {
  content: "\63";
}

.icon-share:before {
  content: "\e6d1";
}

.icon-kefu:before {
  content: "\e6fa";
}
